<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listagem de Carros</title>
        <link rel="stylesheet" href="/Laboratórios/Lab10/style.css">
    </head>
    <body>
        <% if (status == "Erro"){
            %><h1><%= status%></h1> <%
        }else{ %>
            <div class="lista"> <%
            for (var i = 0; i < data.length; i++){
                qtd = -1
                if (data[i]['db_qtd_disponivel'] == 0){
                    qtd = "Esgotado"
                    id = "esgotado"
                    
                }else{
                    qtd = data[i]['db_qtd_disponivel']
                    id = ""
                } %>
                <div class="carro">
                <div>
                <p><%= data[i]['db_marca'] %> - <%= data[i]['db_modelo'] %></p>
                </div>
                <div>
                <p><%= data[i]['db_ano'] %></p>
                </div>
                <div id="quantidade">
                <p>Quantidade Disponível:</p> <p id=<%=id %>> <%= qtd %></p>
                </div>
            </div><% } 
        } %>
    </body>
</html>