<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastrado</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<h1><%= status %></h1>
<p>Nome: <%= nome%></p>
<p>Login: <%= login%></p>
<p>Senha: <%= senha%></p>
<p>Nascimento: <%= nasc%></p>
</body>
</html>